@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    @apply bg-zinc-950 text-white;
}

.space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

h1, h2, h3 {
    font-family: 'Space Grotesk', sans-serif;
}